<div class="container">
  <% if !flash.blank? %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <br />
  <form action="/send_emails" method="post" enctype='multipart/form-data'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="row">
    <div class="col-xs-12">
      <label>Upload CSV file with emails</label>
      <br />
      <div class="alert alert-info">
        <small>The CSV file should have the following headers: EMAIL</small>
        <br />
        <small>EMAIL column is mandatory. All the headers should be all caps</small>
      </div>
      <input type="file" name="csv_file" class="form-control" />
    </div>
    <div class="col-xs-12">
      <br /><br />
      <label>Emails subject</label>
      <div class="alert alert-info">
        This is the email subject sent to all people in the mailing list
      </div>
      <input class="form-control" name="subject" type="text" placeholder="subject" />
    </div>
    <div class="col-xs-12">
      <br /><br />
      <label>Content</label>

      <div class="alert alert-info">
        This is the HTML email that's sent to all the people in the mailing list
      </div>
      <%= cktext_area :message, :content,  :cols => 40, :ckeditor => {:uiColor => '#AADC6E'} %>
      <!--<textarea style="min-height:250px !important;" id="wysiwyg" name="message" class="form-control"></textarea>-->
    </div>
    <div class="col-xs-12">
      <br />
      <input type="submit" class="col-xs-12 btn btn-success" value="Send emails">
    </div>
  </div>
</div>
