<html>
  <head>
    <style>
      * { line-height: 1; }
    </style>
  </head>
  <body style="line-height: 1 !important; margin:0; padding:0;mso-line-height-rule: exactly;">
    <%= yield %>
  </body>
</html>
